#nb-item-search  .control-tick-labels {
  display: flex;
  margin: 10px 0;
}

#nb-item-search  .control-tick-labels :first-child {
  margin-right: auto;
}

#nb-item-search  .control-tick-label {
    transform: rotate(-45deg);
    width: min-content;
    display: inline-block;
    font-size: .8rem;
}

#nb-item-search  .ui-slider-horizontal {
  width: 96%;
  transform: translateX(5px);
  height: 2px;
  cursor: pointer;
  background: black !important;
  border: 0px;
}

#nb-item-search  .ui-slider-handle {
  border: 1px solid white !important;
  height: 10px !important;
  width: 10px !important;
  background: black !important;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
