* {
  outline: none; /* get rid of orange focus box */
}

.nb-item-container {
  display: flex;
  margin: 10px;
  flex-flow: column;
}

.nb-content-wrapper {
  background-color: #fafafa;
  border-radius: 3%;
  padding-right: 30px;
} 

.nb-item-title {
  display: flex;
    border: 0px solid black;
    border-width: 0px 0px 6px 0px;
}

.nb-item-spacer {
  margin: auto;
}

.nb-content-wrapper {
  margin: 2px;
}

.nb-content {
  padding: 5px;
}

.nb-item-icon {
  float: left;
  width: 20px;
  height: 20px;
  
  background-color: white;
  border: 5px solid white;
  border-radius: 25%;
  margin: 2px;
  background-repeat: no-repeat;
  background-position: center;
}

.nb-item-selectable {
  cursor: pointer;
  outline: none; /* get rid of orange focus box */
}

.nb-item-selected {
  border: 2px solid #C377FF; 
  border-width: 0px 0px 3px 0px;
}

.nb-item-hide {
  display: none;
}

/* golden layout */
.lm_content {
  overflow-y: auto;
}

/* chat */
.chat-column {
  max-width: max-content !important;
}

/* MENU HACK */
.dots {
    position: relative;
    right: -103%;
}

.dots::after  {
  content: '\2807';
}

.tippy-tooltip {
    text-align: left !important;
}

.tippy-tooltip.light-theme {
    background-color: white !important;
}

svg {
  margin: 15px;
}

.dots-items {
  background-image: url('../img/square-regular.svg');
  margin: 2px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.dots-items.dots-items-checked {
  background-image: url('../img/check-square-regular.svg');
}

/* SCROLL */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
